In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import Lasso
from sklearn.preprocessing import LabelEncoder 
import pickle

In [61]:

df = pd.read_csv('/content/autos.csv',encoding="ISO-8859-1")

In [62]:
print(df.seller.value_counts())

privat    22791
Name: seller, dtype: int64

In [63]:
df[df.seller != 'gewerblich']

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0.0,70435.0,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0.0,66954.0,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0.0,90480.0,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0.0,91074.0,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0.0,60437.0,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22786,2016-03-11 10:52:07,Volkswagen_Touran_2.0_TDI_/_AHK,privat,Angebot,6950,test,bus,2007,manuell,140,touran,150000,6,diesel,volkswagen,nein,2016-03-11 00:00:00,0.0,88527.0,2016-04-06 23:46:52
22787,2016-03-21 23:54:50,MINI_Cooper_D_Clubman,privat,Angebot,8500,test,kombi,2011,manuell,90,clubman,125000,3,diesel,mini,nein,2016-03-21 00:00:00,0.0,91438.0,2016-04-01 18:45:11
22788,2016-03-12 15:45:27,T5_VW_BUS_LANG_VERSION__2_5_TDI__DSG__NAVI__AH...,privat,Angebot,8888,control,bus,2006,automatik,174,transporter,150000,10,diesel,volkswagen,ja,2016-03-12 00:00:00,0.0,28307.0,2016-03-28 09:56:59
22789,2016-04-05 12:50:01,Volkswagen_Golf_Plus,privat,Angebot,6000,test,bus,2005,manuell,105,golf,150000,10,diesel,volkswagen,nein,2016-04-05 00:00:00,0.0,53489.0,2016-04-05 12:50:01
22790,2016-03-22 22:36:35,Kia_Carens_CRDi_DPF_Aut._EX,privat,Angebot,1700,control,bus,2007,automatik,140,andere,150000,12,diesel,kia,nei,NaN,NaN,NaN,NaN

In [64]:
df.drop('seller',1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,dateCrawled,name,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0.0,70435.0,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0.0,66954.0,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0.0,90480.0,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0.0,91074.0,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0.0,60437.0,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22786,2016-03-11 10:52:07,Volkswagen_Touran_2.0_TDI_/_AHK,Angebot,6950,test,bus,2007,manuell,140,touran,150000,6,diesel,volkswagen,nein,2016-03-11 00:00:00,0.0,88527.0,2016-04-06 23:46:52
22787,2016-03-21 23:54:50,MINI_Cooper_D_Clubman,Angebot,8500,test,kombi,2011,manuell,90,clubman,125000,3,diesel,mini,nein,2016-03-21 00:00:00,0.0,91438.0,2016-04-01 18:45:11
22788,2016-03-12 15:45:27,T5_VW_BUS_LANG_VERSION__2_5_TDI__DSG__NAVI__AH...,Angebot,8888,control,bus,2006,automatik,174,transporter,150000,10,diesel,volkswagen,ja,2016-03-12 00:00:00,0.0,28307.0,2016-03-28 09:56:59
22789,2016-04-05 12:50:01,Volkswagen_Golf_Plus,Angebot,6000,test,bus,2005,manuell,105,golf,150000,10,diesel,volkswagen,nein,2016-04-05 00:00:00,0.0,53489.0,2016-04-05 12:50:01
22790,2016-03-22 22:36:35,Kia_Carens_CRDi_DPF_Aut._EX,Angebot,1700,control,bus,2007,automatik,140,andere,150000,12,diesel,kia,nei,NaN,NaN,NaN,NaN

In [65]:
print(df.offerType.value_counts())

Angebot    22790
Gesuch         1
Name: offerType, dtype: int64

In [66]:
df[df.offerType !='Gesuch']

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0.0,70435.0,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0.0,66954.0,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0.0,90480.0,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0.0,91074.0,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0.0,60437.0,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22786,2016-03-11 10:52:07,Volkswagen_Touran_2.0_TDI_/_AHK,privat,Angebot,6950,test,bus,2007,manuell,140,touran,150000,6,diesel,volkswagen,nein,2016-03-11 00:00:00,0.0,88527.0,2016-04-06 23:46:52
22787,2016-03-21 23:54:50,MINI_Cooper_D_Clubman,privat,Angebot,8500,test,kombi,2011,manuell,90,clubman,125000,3,diesel,mini,nein,2016-03-21 00:00:00,0.0,91438.0,2016-04-01 18:45:11
22788,2016-03-12 15:45:27,T5_VW_BUS_LANG_VERSION__2_5_TDI__DSG__NAVI__AH...,privat,Angebot,8888,control,bus,2006,automatik,174,transporter,150000,10,diesel,volkswagen,ja,2016-03-12 00:00:00,0.0,28307.0,2016-03-28 09:56:59
22789,2016-04-05 12:50:01,Volkswagen_Golf_Plus,privat,Angebot,6000,test,bus,2005,manuell,105,golf,150000,10,diesel,volkswagen,nein,2016-04-05 00:00:00,0.0,53489.0,2016-04-05 12:50:01
22790,2016-03-22 22:36:35,Kia_Carens_CRDi_DPF_Aut._EX,privat,Angebot,1700,control,bus,2007,automatik,140,andere,150000,12,diesel,kia,nei,NaN,NaN,NaN,NaN

In [67]:
df=df.drop('offerType',1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [68]:
print(df.shape)

(22791, 19)

In [69]:
df = df[(df.powerPS >50) & (df.powerPS < 900)]

In [72]:
print(df.shape)

(19502, 19)

In [75]:
df = df[(df.yearOfRegistration >= 1950) & (df.yearOfRegistration < 2017)]

In [81]:
print(df.shape)

(18855, 19)

In [83]:
df.drop(['name', 'abtest', 'dateCrawled', 'nrOfPictures', 'lastSeen', 'postalCode', 'dateCreated'],axis ='columns',inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [85]:
new_df = df.copy()

In [87]:
new_df = new_df.drop_duplicates(['price','vehicleType','yearOfRegistration','gearbox','powerPS','model','kilometer','monthOfRegistration','fuelType','notRepairedDamage'])

In [91]:
new_df.gearbox.replace(('manuell','automatik'),('manual','automatic'),inplace =True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [92]:
new_df.fuelType.replace(('benzin','andere','elektro'),('petrol','others','electric'),inplace =True)

In [94]:
new_df.vehicleType.replace(('kleinwagen','cabrio','kombi','andere'),('small car','convertible','combination','others'),inplace=True)

In [95]:
new_df.notRepairedDamage.replace(('ja','nein'),('Yes','No'),inplace=True)

In [96]:
new_df = new_df[(new_df.price >= 100) & (new_df.price <=150000)]

In [97]:
new_df['notRepairedDamage'].fillna(value='not_declared',inplace =True)

In [98]:
new_df['fuelType'].fillna(value='not_declared',inplace =True)

In [99]:
new_df['gearbox'].fillna(value='not_declared',inplace =True)

In [100]:
new_df['vehicleType'].fillna(value='not_declared',inplace =True)

In [101]:
new_df['model'].fillna(value='not_declared',inplace =True)

In [103]:
new_df.to_csv("autos_preprossed.csv")

In [104]:
labels =['gearbox','notRepairedDamage','model','brand','fuelType','vehicleType']

In [105]:
mapper={}

In [106]:
for i in labels:
  mapper[i] = LabelEncoder()
  mapper[i].fit(new_df[i])
  tr = mapper[i].transform(new_df[i])
  np.save(str('classes'+i+'.npy'), mapper[i].classes_)
  print(i,":",mapper[i])
  new_df.loc[:,i + '_labels'] = pd.Series(tr,index = new_df.index)

gearbox : LabelEncoder()
notRepairedDamage : LabelEncoder()
model : LabelEncoder()
brand : LabelEncoder()
fuelType : LabelEncoder()
vehicleType : LabelEncoder()

In [108]:
labeled = new_df[['price','yearOfRegistration','powerPS','kilometer','monthOfRegistration']+[x +"_labels" for x in labels]]

In [109]:
print(labeled.columns)

Index(['price', 'yearOfRegistration', 'powerPS', 'kilometer',
       'monthOfRegistration', 'gearbox_labels', 'notRepairedDamage_labels',
       'model_labels', 'brand_labels', 'fuelType_labels',
       'vehicleType_labels'],
      dtype='object')